# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://yohyrzklnhdwwlaahpjb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_F85HSuQ6Rxpwjn30J6SOrw_EIRdz-Dy
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# App (Vercelda o'rnatish kerak: https://freelance-liard-two.vercel.app)
# Mahalliy ishlab chiqishda NEXT_PUBLIC_APP_URL o'rnatilmagan bo'lsa,
# window.location.origin avtomatik ishlatiladi
NEXT_PUBLIC_APP_URL=https://freelance-liard-two.vercel.app
